.modal.fade{id: "modal","aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h5.modal-title.font-weight-bold
          Municipe
      .modal-body
        .row
          .col-lg-12
            - if method.eql?(:put)
              .card.card-product
                .card-header{"data-header-animation" => "true"}
                  .row
                    .col-2
                      %a{:href => "#"}
                        %img.rounded{:src => @item.foto(:thumb)}/
                    .col-10
                      .mt-4
                        %h4.card-title
                          %a.text-primary{:href => "#"} #{@item.nome_completo}
                        .card-description
                          #{@item.telefone}
          .col-lg-12
            %ul.nav.nav-pills.nav-pills-warning{:role => "tablist"}
              %li.nav-item
                %a.nav-link.active{"data-toggle" => "tab", :href => "#link1", :role => "tablist"}
                  Municipe
              - if method.eql?(:put)
                %li.nav-item
                  %a.nav-link{"data-toggle" => "tab", :href => "#link2", :role => "tablist"}
                    Endereço

            .tab-content.tab-space
              #link1.tab-pane.active.show
                .card
                  .card-body
                    = form_for(model, url: url, method: method, class: 'form-horizontal', role: 'form', remote: true, html: {multipart: true, autocomplete: 'off', id: SecureRandom.hex(10)}) do |f|
                      .form-row
                        .form-group.bmd-form-group.col-lg-9
                          %label.bmd-label-floating Nome completo
                          = f.text_field :nome_completo, class: 'form-control', required: true
                        .form-group.bmd-form-group.col-lg-3
                          %label.bmd-label-floating Data de Nascimento
                          = f.date_field :data_de_nascimento, class: 'form-control', required: true

                      .form-row
                        .form-group.bmd-form-group.col-lg-6
                          %label.bmd-label-floating E-mail
                          = f.text_field :email, class: 'form-control', required: true, type: :email, required: true
                        .form-group.bmd-form-group.col-lg-6
                          %label.bmd-label-floating Fone de contato
                          = f.text_field :telefone, class: 'form-control cellphone', required: true

                      .form-row
                        .form-group.bmd-form-group.col-lg-6
                          %label.bmd-label-floating CPF
                          = f.text_field :cpf, class: 'form-control', required: true
                        .form-group.bmd-form-group.col-lg-6
                          %label.bmd-label-floating CNS
                          = f.text_field :cns, class: 'form-control', required: true

                      .form-row
                        %label.bmd-label-floating Foto
                        = f.file_field :foto, class: 'file-form-control mt-4', accept: "image/*"

                      - if method.eql?(:put)
                        .form-row.mt-2
                          .form-group.bmd-form-group.col-lg-6
                            %label.bmd-label-floating Data de cadastro
                            %br
                            .form-control
                              #{parse_created_at @item.created_at}
                          .form-group.bmd-form-group.col-lg-6
                            %label.bmd-label-static.pb-3 Status
                            %br
                            = f.select :status, [['Ativo', true],['Inativo', false]],
                              {},
                              { class: "form-control mt-4", id: :status, required: true }

                      .card-footer
                        .text-right
                          = link_to 'VOLTAR', panel_v1_municipes_path, class: 'btn btn-fill btn-default', data: {disable_with: disable_with}
                          = button_tag 'ENVIAR DADOS', class: 'btn btn-fill btn-rose', data: {disable_with: disable_with}

              - if method.eql?(:put)
                #link2.tab-pane
                  #address-container
                    - if Endereco.where(municipe: @item).present?
                      - Endereco.where(municipe: @item).each do |address|
                        .card
                          .card-body
                            = render partial: 'panel/v1/enderecos/shared/form', locals: {municipe: @item, model: address, url: panel_v1_municipe_endereco_path(@item, address), method: :put}
                    - else
                      .card
                        .card-body
                          = render partial: 'panel/v1/enderecos/shared/form', locals: {municipe: @item, model: Endereco.new, url: panel_v1_municipe_enderecos_path(@item), method: :post}
